

snippet date
	`strftime("%d-%m-%Y")`

snippet title
  # Created on `strftime("%Y-%m-%d")`
  # ${1:Title}

snippet note
  [//${1:note}] --> `strftime("%Y-%m-%d")`

snippet tag
  TAG --> [${1:tag}]

snippet italic
  *${1:Text}*

snippet bold
  **${1:Text}**

snippet code
  \`\`\`${1:lang}
  ${2:code}
  \`\`\`

snippet link
  [${1:text}](${2:url})
